[Desktop Entry]
Name=Plasma-Miry
Comment=Default plasma theme for Mystras OS
Comment[es]=Tema por defecto plasma para Mystras OS
Comment[it]=Tema predefinito di plasma per Mystras OS

X-KDE-PluginInfo-Author=Plasma-Miry
X-KDE-PluginInfo-Name=Plasma-Miry
X-KDE-PluginInfo-Version=1.2.0
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Category=Plasma Theme

[Wallpaper]
defaultWallpaperTheme=Miry
defaultFileSuffix=.png
defaultWidth=1920
defaultHeight=1080